@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon.eot?cbd4bq');
  src: url('../fonts/icomoon.eot?cbd4bq#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?cbd4bq') format('truetype'),
    url('../fonts/icomoon.woff?cbd4bq') format('woff'),
    url('../fonts/icomoon.svg?cbd4bq#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

i {
  /* use !important to prevent issues with ../browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-instagram-brands-solid:before {
  content: "\e900";
}

.icon-linkedin-brands-solid:before {
  content: "\e901";
}

.icon-twitter-brands-solid:before {
  content: "\e902";
}

.icon-facebook-f-brands-solid:before {
  content: "\e903";
}