.footer {
    position: relative;
    height: 630px;
    &__map {
        iframe {
            width: 100%;
            height: 630px;
            border: 0;
        }
    }
    &__info {
        padding: 50px 54px 56px 54px;
        width: 460px;
        height: 279px;
        background-color: $main_color;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
    }
    &__addr {
        display: block;
        margin-bottom: 36px;
        font-weight: 500;
        font-size: 20px;
        line-height: 100%;
        text-align: center;
        color: #fff;
    }
    &__phone {
        margin-bottom: 36px;
        display: block;
        font-weight: 700;
        font-size: 20px;
        line-height: 100%;
        text-align: center;
        color: #fff;
    }
    &__social {
        display: flex;
        justify-content: center;
        gap: 27px;
    }
    &__social-item {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 50px;
        border: 2px solid #fff;
        border-radius: 100%;
    }
}
