.title {
    font-weight: 700;
    font-size: 42px;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    &_left {
        font-size: 36px;
        color: #fff;
        text-align: left;
        line-height: 150%;
    }
}
