//libs
@import "libs/bootstrap-reboot.min.css";
@import "libs/bootstrap-grid.min.css";
* {
    font-family: "Raleway", sans-serif;
}
.no-scroll {
    overflow: hidden;
}
ul,
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}
li {
    list-style-type: none;
}
.container {
    position: relative;
    margin: 0 auto;
    max-width: 1110px;
    padding: 0;
}
//base
@import "base/buttons";
@import "base/mixins";
//blocks
@import "blocks/header";
@import "blocks/promo";
@import "blocks/catalog";
@import "blocks/new";
@import "blocks/team";
@import "blocks/footer";
