.advantage {
    background-color: #f6f6f6;
    padding: 70px 0 65px 0;
    &__header {
        font-weight: 700;
        font-size: 30px;
        line-height: 100%;
        text-align: center;
        color: #0d0d0d;
        text-transform: uppercase;
    }
    &__items__wrapper {
        margin-top: 60px;
        display: flex;
        justify-content: space-between;
    }
    &__item {
        max-width: 275px;
        img {
            display: block;
            margin: 0 auto;
            width: 70px;
            height: 70px;
        }
        .item__header {
            margin-top: 35px;
            font-weight: 700;
            font-size: 18px;
            text-align: center;
            color: #0d0d0d;
        }
        .item__txt {
            margin-top: 20px;
            font-weight: 300;
            font-size: 14px;
            line-height: 129%;
            text-align: center;
            color: #0d0d0d;
            span {
                text-decoration: underline;
                text-decoration-skip-ink: none;
                color: #f00;
            }
        }
    }
}
