.catalog {
    padding-bottom: 80px;
    .title {
        font-weight: 400;
        font-size: 30px;
        text-transform: uppercase;
        text-align: center;
        color: #0d0d0d;
    }
    &__tabs {
        margin-top: 50px;
        list-style-type: none;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 0;
        margin-bottom: 0;
    }
    &__tab {
        margin: 0 5px;
        width: 222px;
        height: 52px;
        border: 2px solid #d0d0d0;
        transform: skewX(-25deg);

        font-weight: 400;
        font-size: 18px;
        line-height: 50px;
        text-transform: uppercase;
        text-align: center;
        color: #6b6b6b;
        cursor: pointer;
        &:hover {
            box-shadow: 1px 1px 20px #000000;
            border: 2px solid #00000000;
        }
        div {
            transform: skewX(25deg);
        }
        &_active {
            color: #fff;
            background-color: $main_color;
            border: none;
            &:hover {
                border: none;
            }
        }
    }
    &__content {
        margin-top: 60px;
        display: none;
        justify-content: space-between;
        flex-wrap: wrap;
        &_active {
            display: flex;
        }
    }
    &-item {
        padding: 20px 18px;
        margin-bottom: 19px;
        width: 303px;
        min-height: 442px;
        border: 2px solid #e8e8e8;
        overflow: hidden;
        &__img {
            display: block;
            margin: 0 auto;
            max-width: 100%;
            height: 200px;
        }
        &__subtitle {
            margin-top: 15px;
            font-weight: 700;
            font-size: 15px;
            text-align: center;
            color: #0d0d0d;
        }
        &__descr {
            margin-top: 15px;
            font-weight: 300;
            font-size: 14px;
            text-align: center;
            color: #0d0d0d;
        }
        &__link {
            display: block;
            margin-top: 15px;
            font-weight: 500;
            font-size: 14px;
            line-height: 100%;
            text-transform: uppercase;
            text-decoration: underline;
            text-decoration-skip-ink: none;
            text-align: center;
            color: $main_color;
        }
        &__back {
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(calc(-50% - 16px));
            display: block;
            margin-top: 15px;
            font-weight: 500;
            font-size: 14px;
            line-height: 100%;
            text-transform: uppercase;
            text-decoration: underline;
            text-decoration-skip-ink: none;
            text-align: center;
            color: $main_color;
        }
        hr {
            margin-top: 17px;
            margin-bottom: 19px;
            // border: 1px solid #e8e8e8;
        }
        &__footer {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        &__old-price {
            font-weight: 300;
            font-size: 14px;
            line-height: 100%;
            text-decoration: line-through;
            color: #555;
        }
        &__price {
            margin-top: 2px;
            font-weight: 700;
            font-size: 20px;
            line-height: 100%;
            color: #050505;
        }
        &__wrapper {
            display: flex;
            // width: 200%;
            width: calc(200% + 40px);
        }
        &__content {
            width: 50%;
            margin-right: 0px;
            transform: translateX(-130%);
            &_active {
                transform: translateX(0%);
                margin-right: 20px;
            }
        }
        &__list {
            width: 50%;
            margin-left: 20px;
            transform: translateX(0%);
            padding-right: 20px;
            padding-left: 16px;
            margin-bottom: 0;
            list-style-type: none;
            li:not(:last-child) {
                position: relative;
                margin-bottom: 15px;
                font-weight: 300;
                font-size: 14px;
                line-height: 150%;
                color: #555;
                &::before {
                    content: "";
                    position: absolute;
                    width: 5px;
                    height: 5px;
                    background-color: $main_color;
                    left: -14px;
                    top: 7px;
                }
            }
            &_active {
                transform: translateX(-100%);
                margin-left: 0px;
            }
        }
    }
}
