.consultation {
    position: relative;
    min-height: 680px;
    padding: 100px 0 108px 0;
    background: url("../img/second_screen.jpg") center (center/cover) no-repeat;
    &__descr {
        margin-top: 10px;
        font-weight: 500;
        font-size: 20px;
        line-height: 150%;
        color: #fff;
    }
    .error {
        border: 2px solid red;
    }
    label.error {
        text-align: center;
        color: #fff;
        margin-bottom: 15px;
        border: none;
    }
}
