.feed-form {
    margin-top: 36px;
    display: flex;
    flex-direction: column;
    width: 300px;
    input {
        height: 55px;
        border-radius: 5px;
        background-color: #fff;
        margin-bottom: 15px;
        padding: 0 20px;
        border: none;

        font-weight: 300;
        font-size: 14px;
        color: #4b4b4b;
        &:nth-child(3) {
            margin-bottom: 20px;
        }
        &:focus {
            transform: scale(1.02);
        }
    }
    &_mt25 {
        margin-top: 25px;
    }
}
