@media (max-width: 1140px) {
    .carousel {
        .prev,
        .next {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: -46px;
        }
        .next {
            right: -46px;
            left: auto;
        }
    }
}
// @media (max-width: 1060px) {
//     .carousel {
//         .prev,
//         .next {
//             position: absolute;
//             top: 50%;
//             transform: translateY(-50%);
//             left: -33px;
//         }
//         .next {
//             right: -33px;
//             left: auto;
//         }
//     }
// }
@media (max-width: 1060px) {
    .carousel {
        .prev,
        .next {
            display: none;
        }
    }
}
@media (max-width: 960px) {
    .promo {
        padding-bottom: 80px;
        &__wrapper {
            margin-top: 80px;
        }
        &__icons {
            margin-top: 50px;
        }
        .button {
            &_main {
                margin-top: 60px;
            }
        }
    }
    .advantage {
        padding: 55px 0;
        &__item {
            max-width: 250px;
        }
    }
    .catalog {
        &__content {
            justify-content: space-around;
        }
        &-item {
            width: 280px;
        }
    }
}
@media (max-width: 910px) {
    .catalog {
        &-item {
            width: 280px;
        }
    }
}
@media (max-width: 880px) {
    .catalog {
        &-item {
            width: 265px;
            &__subtitle {
                font-size: 15px;
            }
            &__descr {
                font-size: 13px;
            }
            &__old-price {
                font-size: 12px;
            }
            &__price {
                font-size: 18px;
            }
        }
    }
}
@media (max-width: 850px) {
    .catalog {
        &-item {
            width: 265px;
            &__subtitle {
                font-size: 15px;
            }
            &__descr {
                font-size: 13px;
            }
        }
    }
}
@media (max-width: 830px) {
    .catalog {
        &-item {
            width: 360px;
        }
    }
}
@media (max-width: 760px) {
    .catalog {
        padding-bottom: 50px;
        &__tab {
            width: 200px;
            &:first-child {
                margin-left: 0;
            }
            &:last-child {
                margin-right: 0;
            }
        }
        &-item {
            width: 350px;
            &__subtitle {
                font-size: 14px;
            }
            &__descr {
                font-size: 12px;
            }
        }
    }
    .reviews {
        &__client-photo {
            width: 130px;
        }
        &__client-text {
            font-size: 14px;
        }
    }
    .modal,
    #order {
        input {
            margin-bottom: 10px;
        }
        .feed-form {
            &_mt25 {
                margin-top: 15px;
            }
        }
    }
}
@media (max-width: 730px) {
    .catalog {
        &-item {
            width: 340px;
        }
    }
}
@media (max-width: 720px) {
    .promo {
        min-height: 600px;
        padding-bottom: 60px;
        &__header {
            font-size: 39px;
        }
        &__subheader {
            margin-top: 15px;
            font-size: 22px;
        }
        &__wrapper {
            margin-top: 80px;
        }
        &__icons {
            margin-top: 50px;
        }
        .button {
            &_main {
                margin-top: 55px;
            }
        }
    }
    .advantage {
        padding: 50px 0;
        &__items__wrapper {
            margin-top: 55px;
        }
        &__item {
            max-width: 205px;
        }
    }
    .consultation {
        padding: 50px 0;
        min-height: 566px;
        .title_left {
            font-size: 30px;
        }
    }
    .catalog {
        .title {
            font-size: 28px;
        }
        &__tab {
            width: 170px;
            &:first-child {
                margin-left: 0;
            }
            &:last-child {
                margin-right: 0;
            }
        }
        &-item {
            width: 335px;
        }
    }
}
@media (max-width: 695px) {
    .catalog {
        &-item {
            padding-right: 13px;
            padding-left: 13px;
            width: 310px;
        }
    }
}
@media (max-width: 645px) {
    .catalog {
        &-item {
            padding-right: 11px;
            padding-left: 11px;
            width: 305px;
        }
    }
}
@media (max-width: 635px) {
    .catalog {
        &-item {
            padding-right: 10px;
            padding-left: 10px;
            width: 300px;
        }
    }
}
@media (max-width: 625px) {
    .catalog {
        .title {
            font-size: 26px;
        }
        &__tab {
            width: 150px;
            font-size: 16px;
            &:first-child {
                margin-left: 0;
            }
            &:last-child {
                margin-right: 0;
            }
        }
        &-item {
            width: 295px;
            padding-right: 9px;
            padding-left: 9px;
        }
    }
}
@media (max-width: 615px) {
    .catalog {
        &-item {
            width: 291px;
            padding-right: 8px;
            padding-left: 8px;
        }
    }
}
@media (max-width: 606px) {
    .catalog {
        &-item {
            width: 365px;
        }
    }
    .reviews {
        &__client-comment {
            margin-left: 50px;
        }
        &__client-photo {
            width: 100px;
        }
        &__client-text {
            font-size: 14px;
        }
    }
}
@media (max-width: 540px) {
    .promo {
        min-height: 600px;
        padding-bottom: 60px;
        &__header {
            position: relative;
            font-size: 39px;
        }
        .header__official {
            display: none;
        }

        // .header__contacts {
        //     display: flex;
        //     position: absolute;
        //     right: 50%;
        //     transform: translateX(50%);
        //     top: 80px;
        // }
        &__subheader {
            margin-top: 15px;
            font-size: 22px;
        }
        &__wrapper {
            margin-top: 40px;
            align-items: center;
        }
        &__icons {
            margin-top: 50px;
        }
        .button {
            &_main {
                margin-top: 55px;
            }
        }
    }
    .advantage {
        padding: 50px 0;
        &__items__wrapper {
            flex-direction: column;
            margin-top: 55px;
        }
        &__item {
            margin: 0 auto;
            max-width: 350px;
        }
    }
    .consultation {
        padding: 50px 0;
        min-height: 566px;
        .title_left {
            text-align: center;
            font-size: 30px;
        }
        &__descr {
            text-align: center;
        }
        .feed-form {
            margin: 0 auto;
            margin-top: 36px;
        }
    }
    .catalog {
        .title {
            font-size: 25px;
        }
        &__tab {
            width: 135px;
            font-size: 14px;
            &:first-child {
                margin-left: 0;
            }
            &:last-child {
                margin-right: 0;
            }
        }
    }
}
@media (max-width: 485px) {
    .catalog {
        .title {
            font-size: 23px;
        }
        &__tab {
            width: 120px;
            font-size: 12px;
            &:first-child {
                margin-left: 0;
            }
            &:last-child {
                margin-right: 0;
            }
        }
    }
    .modal {
        width: 350px;
        form {
            width: 100%;
        }
        &__close {
            top: 10px;
            right: 10px;
        }
    }
    .pageup {
        right: 25px;
        bottom: 20px;
    }
}
@media (max-width: 460px) {
    .footer {
        &__info {
            width: 100vw;
        }
    }
}
@media (max-width: 440px) {
    .catalog {
        padding-bottom: 40px;
        &__tab {
            width: 110px;
            font-size: 11px;
            &:first-child {
                margin-left: 0;
            }
            &:last-child {
                margin-right: 0;
            }
        }
    }
    .reviews {
        &__blocks {
            margin-top: 40px;
        }
        &__client-comment {
            margin-left: 30px;
        }
        &__client-photo {
            width: 50px;
        }
    }
    .modal {
        width: 320px;
    }
}
@media (max-width: 430px) {
    .promo {
        min-height: 600px;
        padding-bottom: 30px;
        .header {
            &__logo {
                width: 200px;
            }
            &__phone {
                font-size: 17px;
            }
        }
        &__header {
            position: relative;
            font-size: 27px;
        }
        .header__official {
            display: none;
        }

        &__subheader {
            margin-top: 15px;
            font-size: 18px;
        }
        &__wrapper {
            margin-top: 30px;
            align-items: center;
        }
        &__icons {
            flex-direction: column;
            margin-top: 10px;
            max-width: 136px;
        }
        &__icon {
            margin-top: 20px;
            font-size: 16px;
            img {
                margin-bottom: 5px;
            }
        }
        .button {
            &_main {
                margin-top: 40px;
                width: 300px;
                height: 50px;
                font-size: 14px;
            }
        }
        &__link {
            font-size: 14px;
        }
    }
    .advantage {
        &__header {
            font-size: 20px;
        }
        padding: 50px 0;
        &__items__wrapper {
            flex-direction: column;
            margin-top: 55px;
        }
        &__item {
            margin: 0 auto;
            max-width: 350px;
        }
    }
    .consultation {
        padding: 50px 0;
        min-height: 566px;
        .title_left {
            text-align: center;
            font-size: 25px;
        }
        &__descr {
            text-align: center;
        }
        .feed-form {
            margin: 0 auto;
            margin-top: 36px;
        }
    }
}
@media (max-width: 403px) {
    .promo {
        min-height: 600px;
        padding-bottom: 30px;
        .header {
            &__logo {
                width: 180px;
            }
            &__phone {
                font-size: 17px;
            }

            // .header {
            //     flex-direction: column;
            //     &__contacts {
            //         margin-top: 15px;
            //     }
        }
        &__header {
            position: relative;
            font-size: 20px;
        }
        .header__official {
            display: none;
        }

        &__subheader {
            margin-top: 15px;
            font-size: 14px;
        }
        &__wrapper {
            margin-top: 30px;
            align-items: center;
        }
        &__icons {
            flex-direction: column;
            margin-top: 10px;
            max-width: 136px;
        }
        &__icon {
            margin-top: 20px;
            font-size: 12px;
            img {
                margin-bottom: 5px;
            }
        }
        .button {
            &_main {
                margin-top: 40px;
                width: 250px;
                height: 45px;
                font-size: 12px;
            }
        }
        &__link {
            font-size: 14px;
        }
    }
    .advantage {
        &__header {
            font-size: 20px;
        }
        padding: 50px 0;
        &__items__wrapper {
            flex-direction: column;
            margin-top: 55px;
        }
        &__item {
            margin: 0 auto;
            max-width: 350px;
        }
    }
    .consultation {
        padding: 50px 0;
        min-height: 566px;
        .title_left {
            text-align: center;
            font-size: 20px;
        }
        &__descr {
            font-size: 18px;
            text-align: center;
        }
        .feed-form {
            margin: 0 auto;
            margin-top: 36px;
        }
    }
    .catalog {
        &-item {
            width: 335px;
        }
        &__tab {
            width: 100px;
            font-size: 11px;
            &:first-child {
                margin-left: 0;
            }
            &:last-child {
                margin-right: 0;
            }
        }
    }
}
@media (max-width: 375px) {
    .promo {
        min-height: 600px;
        padding-bottom: 30px;
        .header {
            flex-direction: column;
            &__contacts {
                margin-top: 15px;
            }
        }
        &__header {
            position: relative;
            font-size: 20px;
        }
        .header__official {
            display: none;
        }

        &__subheader {
            margin-top: 15px;
            font-size: 14px;
        }
        &__wrapper {
            margin-top: 30px;
            align-items: center;
        }
        &__icons {
            flex-direction: column;
            margin-top: 10px;
            max-width: 136px;
        }
        &__icon {
            margin-top: 20px;
            font-size: 12px;
            img {
                margin-bottom: 5px;
            }
        }
        .button {
            &_main {
                margin-top: 40px;
                width: 250px;
                height: 45px;
                font-size: 12px;
            }
        }
        &__link {
            font-size: 14px;
        }
    }
    .advantage {
        &__header {
            font-size: 20px;
        }
        padding: 50px 0;
        &__items__wrapper {
            flex-direction: column;
            margin-top: 55px;
        }
        &__item {
            margin: 0 auto;
            max-width: 350px;
        }
    }
    .catalog {
        .title {
            font-size: 20px;
        }
        &__tabs {
            flex-direction: column;
        }
        &__tab {
            width: 180px;
            font-size: 12px;
            margin-bottom: 10px;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    .modal {
        width: 290px;
    }
}
